.modal {
  color: yellow;
  background:blue;
  input {
    width: 100%;
    padding: 20px;
    border: none;
    font-size: 2em;
  }
}
.modal-content {
  background: none;
  box-shadow: none;
  border: none;
}
.modal-dialog {
  width: 80%;
}
.modal-header {
  border: none;
}
.modal-body {
    font-size: 3em;
}
.modal-footer {
  border: none;
}
.modal form button {
    padding: 2% 4%;
    border: none;
    margin: 3% 0;
    font-size: 1.5em;
}
