* {
  margin: 0;
  padding: 0; }

body {
  color: white !important;
  font-family: 'Roboto', sans-serif;
  background: url("jeopardyGameBoard/images/Jeopardy!_Logo.png");
  background-blend-mode: overlay;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a31a9a+0,2e00d8+100 */
  background: #a31a9a;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #a31a9a 0%, #2e00d8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #a31a9a 0%, #2e00d8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #a31a9a 0%, #2e00d8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a31a9a', endColorstr='#2e00d8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-font-smoothing: antialiased;
  height: 100vh; }

.modal {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f1277+0,603460+100&1+0,0.8+100 */
  background: -moz-linear-gradient(-45deg, #0f1277 0%, rgba(96, 52, 96, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0f1277 0%, rgba(96, 52, 96, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0f1277 0%, rgba(96, 52, 96, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1277', endColorstr='#cc603460',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .modal input {
    padding: 2% 4%;
    border: none;
    font-size: 2em;
    color: #060CE9;
    font-weight: 600; }
    .modal input:focus {
      outline: none;
      box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.29); }

.modal-content {
  background: none;
  box-shadow: none;
  border: none; }

.modal-dialog {
  width: 80%;
  margin: 0 auto; }

.modal-header {
  border: none;
  margin-top: 5%; }
  .modal-header hr {
    width: 5%;
    border: none;
    background: #DAC355;
    height: 5px;
    margin-left: -20px; }

.modal-body p {
  color: white;
  font-size: 6em;
  margin-bottom: 2%;
  font-weight: bold; }

.modal-footer {
  border: none; }

.modal form button {
  padding: 2% 4%;
  border: none;
  font-size: 2em;
  font-weight: 600;
  transition: .2s all; }
  .modal form button:hover {
    background: #060CE9;
    color: #fff; }
  .modal form button:focus {
    outline: none !important; }

.hero {
  text-align: center;
  margin: 5% 0; }
  .hero img {
    width: 225px; }

.score {
  background: white;
  color: purple;
  font-size: 16px;
  text-transform: uppercase;
  padding: 1%;
  position: fixed;
  z-index: 1000; }

.category-column {
  margin-bottom: 10%; }

.category-title {
  min-height: 100px;
  text-align: center; }
  .category-title h4 {
    font-size: 1.5em;
    vertical-align: bottom;
    font-weight: 700;
    text-transform: uppercase; }

.value-button {
  background: none;
  border: 1px solid white;
  border-radius: 0;
  padding: 20%;
  margin-top: 10px;
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  transition: .2s all;
  color: white; }
  .value-button:hover {
    color: #060CE9;
    background: white;
    border: 1px solid #fff; }
  .value-button:focus {
    color: #DAC355;
    outline: none !important; }

@media screen and (max-width: 40em) {
  .modal-body p {
    font-size: 3.5em; }
  .modal form button {
    font-size: 1.25em;
    transition: none; }
  .modal input {
    font-size: 1.25em; } }

@media only screen and (min-width: 40.063em) {
  .modal-body p {
    font-size: 4em; }
  .modal form button {
    font-size: 1.5em;
    transition: none; }
  .modal input {
    font-size: 1.5em; } }
