$jp-blue: #060CE9;
$jp-yellow: #DAC355;

*{
  margin:0;
  padding:0;
}
body{
  color:white !important;
  font-family: 'Roboto', sans-serif;
  background:url("jeopardyGameBoard/images/Jeopardy!_Logo.png");
  background-blend-mode: overlay;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a31a9a+0,2e00d8+100 */
  background: rgb(163,26,154); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(163,26,154,1) 0%, rgba(46,0,216,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(163,26,154,1) 0%,rgba(46,0,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(163,26,154,1) 0%,rgba(46,0,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a31a9a', endColorstr='#2e00d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-font-smoothing: antialiased;
}
