.hero {
  text-align: center;
  margin: 5% 0;
  img {
    width: 225px;
  }
}
.score {
  background: white;
  color: purple;
  font-size: 16px;
  text-transform: uppercase;
  padding: 1%;
  position: fixed;
  z-index: 1000;
}
.category-column {
  margin-bottom: 10%;
}
.category-title {
  min-height: 100px;
  text-align:center;
  h4{
    font-size: 1.5em;
    vertical-align: bottom;
    font-weight: 700;
    text-transform:uppercase;
  }
}
.value-button {
  background: none;
  border: 1px solid white;
  border-radius: 0;
  padding: 20%;
  margin-top: 10px;
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  transition: .2s all;
  color:white;
  &:hover {
    color: $jp-blue;
    background: white;
    border: 1px solid #fff;
  }
  &:focus{
    color:$jp-yellow;
    outline:none !important;
  }
}
