<!-- <p>{{cats.clues}}</p> -->
<div class="col-md-2 col-sm-6 category-column">
  <div class="category-title col-md-12"><h4>{{cats.title}}</h4></div>

  <div ng-repeat="questions in cats.clues | limitTo:5:0 | filter:magic | filter:'' | filter:clueMagic" ng-if="questions.question" ng-if="questions.value">
      <div id="{{questions.id}}" class="modal fade" tabindex="-1" aria-labelledby="{{questions.id}}" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="{{questions.id}}">{{cats.title}} for ${{questions.value}}</h4>
              <hr />
            </div>
            <div class="modal-body">
              <p>{{questions.question}}</p>
            </div>
            <div class="modal-footer {{questions.id}}">
              <form role="form" class="" ng-submit="addScore(userInput, questions.answer, questions.value)">
                <input type="text" name="name" value="" ng-model="userInput" placeholder="answer" class="col-sm-9 col-xs-12">
                <button ng-click="hideModal(questions.id)" type="submit" name="button" value="submit" class="col-sm-3 col-xs-12">submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
        <button type="button" class="{{questions.id}} btn value-button" data-toggle="modal" ng-click="disableButton(question.id)" data-target="#{{questions.id}}">$ {{questions.value}}</button>
  </div>
</div>
